*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
#banner{
    position: relative;
}
#banner .banner-picture img{
    width: 100%;
}
.banner-picture{
    position: relative;
}
.banner-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#banner .slick-dots{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
}
#banner .slick-dots li{
    display: inline-block;
    list-style: none;
    margin: 0 10px;
    height: 10px;
    width: 10px;
    background: #ffffff;
    border-radius: 50%;
    position: relative;
}

#banner .slick-dots li button{
    color: transparent;
    background: #6be271;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
#banner .slick-dots li.slick-active button{
    opacity: 1;
}
.left{
    position: absolute;
    top: 50%;
    left: 15px;
    height: 30px;
    width: 30px;
    background: #6be271;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    transform: translateY(-50%);
    cursor: pointer;
}
.right{
    position: absolute;
    top: 50%;
    right: 15px;
    height: 30px;
    width: 30px;
    background: #6be271;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* slick */
#slick{
    background: #e2d7dd;
}
.sliders .slider-one{
    height: 150px;
    width: 150px;
    background: linear-gradient(to left, #a7c9e9, #b5ee87);
    box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.75);
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}
.sliders .slider-one .slider-text img{
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}
.sliders .slider-one .slider-text h3{
    text-align: center;
    font-size: 16px;
    padding-top: 15px;
}
#slick .slick-slide{
    margin: 10px;
}
.slider-wrapper{
    position: relative;
}
.emdadul{
    position: absolute;
    top: 50%;
    left: -30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: #e7c9c9;
    color: #df5353;
    transform: translateY(-50%);
    border: 1px solid #df5353;
    cursor: pointer;
}
.rahman{
    position: absolute;
    top: 50%;
    right: -33px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: #e7c9c9;
    color: #df5353;
    transform: translateY(-50%);
    border: 1px solid #df5353;
    cursor: pointer;
}

/* FOOD SLICK SLIDE START */
#food{
    margin: 10px 0;
}
#food .slick-list{
    padding: 15px 0 !important;
}
#food .food-sliders .slider img{
    width: 100%;
}
#food .food-sliders .slider h3{
    text-align: center;
    color: #568df1;
    padding-top: 10px;
}
#food .slick-slide{
    margin: 0 20px;
}
#food .slick-slide.slick-center{
    transform: scale(1.1);
    transition: all linear 0.6s;
}
#food .food-icon{
    position: relative;
}
#food .food-icon .one{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background: #a9ebe5;
    color: #df5353;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}
#food .food-icon .two{
    position: absolute;
    height: 30px;
    width:30px;
    border-radius: 50%;
    background: #a9ebe5;
    text-align:center;
    line-height: 30px;
    color:#df5353;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor:pointer;
}